div.tables_container
{
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}
.table
{
  width: 45%;
  float: left;
  margin: 10px 15px 15px 15px;
}
.table a
{
  text-decoration: none;
}
#right_table
{
  width: 45%;
  float: right;
}
.table_result
{
  width: 45%;
  float: left;
  margin: 0 15px 15px 0;
}
.clearboth
{
  clear: both;
}
/*#footer
{
    clear: both;
    margin: 0;
    color: #333;
    background-color: #ddd;
    border-top: 1px solid gray;
}*/
.ui-tooltip {
  white-space: pre-line;
}
