div.tables_container
{
    /*margin-left: 10px;*/
    /*margin-right: 50px;
    padding: 5px;*/
}
.table
{
  border-color: rgb(255, 255, 255);
  width: 50%;
  float: left;
  /*margin: 0px 5px 5px 5px;*/
}
.table thead
{
  color: white;
  background-color: rgb(51, 187, 155);
}
.table a
{
  text-decoration: none;
}
/*#right_table
{
  width: 45%;
  float: left;
}*/
.table_result
{
  width: 50%;
  float: left;
  /*margin: 0 5px 5px 0;*/
}
.table_result thead
{
  color: white;
  background-color: rgb(51, 187, 155);
}
.clearboth
{
  clear: both;
}
/*#footer
{
    clear: both;
    margin: 0;
    color: #333;
    background-color: #ddd;
    border-top: 1px solid gray;
}*/
.ui-tooltip {
  white-space: pre-line;
}
