div.tables_container
{
    margin-left: 10px;
    margin-right: 50px;
    padding: 5px;
}
.table
{
  border-color: rgb(255, 255, 255);
  /*width: 50%;
  float: left;
  margin: 0px 5px 5px 5px;*/
}
.table thead
{
  color: white;
  background-color: rgb(51, 187, 155);
}
/*.table_result
{
  width: 50%;
  float: left;
  margin: 0 5px 5px 0;
}
.table_result thead
{
  color: white;
  background-color: rgb(51, 187, 155);
}*/

#footer
{
    clear: both;
    margin: 0;
    color: #333;
    background-color: #ddd;
    border-top: 1px solid gray;
}
.clearboth
{
  clear: both;
}
.ui-tooltip
{
  white-space: pre-line;
}
#logoImage
{
  width: 150px;
  height: 150px;
}
label
{
  white-space: normal;
}
input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}
.table a
{
  text-decoration: none;
}
