#footer
{
    clear: both;
    margin: 0;
    color: #333;
    background-color: #ddd;
    border-top: 1px solid gray;
}
.clearboth
{
  clear: both;
}
.ui-tooltip
{
  white-space: pre-line;
}
#logoImage
{
  width: 150px;
  height: 150px;
}
label {
  padding-left: 15px;
  text-indent: -15px;
}
.table a
{
  text-decoration: none;
}
#table-header
{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(51, 187, 155);
  margin-left: 4px;
  margin-right: 4px;
}
#printButton
{
  margin-left: 5px;
}
