/*--------------------------------------------------*/
/*| Functioning Table
/*--------------------------------------------------*/
.table a {
  text-decoration: none;
}
table.datatable.table {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-collapse: collapse;
}
table.datatable.table label {
  margin: 0;
  padding: 5px;
  display: block;
  font-weight: normal;
  padding-left: 25px;
  text-indent: -15px;
}
table.datatable.table tr {
  margin: 0;
  padding: 0;
}
table.datatable.table tr th {
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: rgb(51, 187, 155);
}
table.datatable.table tr td {
  margin: 0;
  padding: 0;
  vertical-align: text-top;
}
table.datatable.table tr td:first-child {
  padding: 5px;
}
table.datatable.table table.table {
  margin: 0;
  border: 0;
}
#table_header
{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(51, 187, 155);
  margin-left: 4px;
  margin-right: 4px;
}

/*--------------------------------------------------*/
/*| Helper Classes
/*--------------------------------------------------*/
.width100 {
  width: 100%;
}
.width90 {
  width: 90%;
}
.width80 {
  width: 80%;
}
.width78 {
  width: 78%;
}
.width70 {
  width: 70%;
}
.width60 {
  width: 60%;
}
.width50 {
  width: 50%;
}
.width45 {
  width: 45%;
}
.width40 {
  width: 40%;
}
.width39 {
  width: 39%;
}
.width35 {
  width: 35%;
}
.width30 {
  width: 30%;
}
.width26 {
  width: 26%;
}
.width25 {
  width: 25%;
}
.width23 {
  width: 23.3%;
}
.width22 {
  width: 22.2%;
}
.width20 {
  width: 20%;
}
.width19 {
  width: 19.5%;
}
.width17 {
  width: 17.5%;
}
.width15Half {
  width: 15.6%;
}
.width15 {
  width: 15%;
}
.width14 {
  width: 14%;
}
.width13 {
  width: 13%;
}
.width11 {
  width: 11.6%;
}
.width10 {
  width: 10%;
}
.width9 {
  width: 9%;
}
.width5 {
  width: 5%;
}
.alignCenter {
  text-align: center;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
/*--------------------------------------------------*/
/*| Footer
/*--------------------------------------------------*/
#footer
{
    clear: both;
    margin: 0;
    color: #333;
    background-color: rgb(51, 187, 155);
    border-top: 1px solid gray;
}
/*--------------------------------------------------*/
/*| use for break
/*--------------------------------------------------*/
.clearboth
{
  clear: both;
}
/*--------------------------------------------------*/
/*| tootltip
/*--------------------------------------------------*/
div.ui-tooltip
{
  white-space: pre-line;
  max-width: 100%;
  width: 30%;
}
/*--------------------------------------------------*/
/*| icon
/*--------------------------------------------------*/
#logoImage
{
  width: 150px;
  height: 150px;
}
/*--------------------------------------------------*/
/*| label
/*--------------------------------------------------*/
label {
  padding-left: 15px;
  text-indent: -15px;
}

#printButton
{
  margin-left: 5px;
}
/*--------------------------------------------------*/
/*| color bar of result chart
/*--------------------------------------------------*/
#poor_ind
{
  background-color: #E74C3C;
}
#mod_ind
{
  background-color: #F5B041;
}
#sat_ind
{
  background-color: #5499C7;
}
/*--------------------------------------------------*/
/*| country / city
/*--------------------------------------------------*/
#location_input
{
  margin-left: 15px;
}
.location_output
{
  margin-right: 50px;
}
/*--------------------------------------------------*/
/*| hr
/*--------------------------------------------------*/
hr
{
  background-color: rgb(51, 187, 155); !important;
  color: rgb(51, 187, 155) !important;
  height: 7px !important;
}
/*--------------------------------------------------*/
/*| input text
/*--------------------------------------------------*/
input[type="text"] {
  display: inline-block;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="text"]:focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
